* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

.navbar {
    background-color: #8e7754;
    padding: 12px 0px;

    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    transition: background 0.3s;
    z-index: 2;
}

.navbar .bg-transparent {
    background: rgba(0, 0, 0, 0.3);
}

.setting {
    width: 40px;
    height: 80px;
    background-color: rgb(213, 252, 252);
    position: fixed;
    right: 0;
    top: 40%;
}

.clear {
    clear: both;
}

.navbar .container {
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .brand-name {
    float: left;
}

.navbar ul {
    float: right;
    list-style: none;
}

.navbar ul li {
    float: left;
    padding: 0 10px;
}

.navbar a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.navbar .icon-brand {
    width: 100px;
}

.f-page {
    background-image: url(images/drew-coffman-1872.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    position: relative;
}

.buttoms {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 15px;
}

.buttoms .custom {
    padding: 12px 24px;
    text-decoration: none;
    border-radius: 5px;
    transition: 0.3s;
}

.buttoms .btn1 {
    background-color: #8E7754;
    color: rgb(255, 255, 255);
}

.buttoms .btn2 {
    border: 2px solid white;
    color: rgb(255, 255, 255);
}


.f-page::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.f-page {
    position: relative;
    z-index: 1;
}

.f-page .text-fp {
    color: white;
    z-index: 111;
}

.section {
    text-align: center;

}

.section .def {
    margin: 10px 0 60px;
}

.section .def p {
    margin: 17px 40px 0px;
}

.card {
    width: 33.33%;
    /* background-color: bisque; */
    float: left;
    padding: 40px;
}

.card img {
    width: 100%;
}

.container1 .section {
    text-align: center;
    padding: 70px 67.6px 50px 67.4px;
}

.Who-we-are .layer h2 {
    padding: 0 0 20px;
}

ul {
    list-style: none;
}

il {
    /* مش فاهمه اي سبب عدم تاثير ال padding او margin */
    display: flex;
    margin: 0 0 2px;
    padding: 15px 0 15px 15px;
}

.Who-we-are .icon {
    border: 1px solid rgb(142, 119, 84);
    border-radius: 50px;
    vertical-align: middle;
    width: 40px;
    height: 40px;
    margin-right: 8px;
}

.Contact-Info .info {

    margin-bottom: 10px;
}


/*  */

.Contact-Info .icon {
    width: 20px;
    height: 20px;
    vertical-align: middle;
    display: inline-block;
    background-color: #a06f4c4a;
    border-radius: 20px;
}

.Contact-Info .space {
    margin-top: 10px;
}

.bg-beige {
    background-color: rgb(248, 248, 248);
}

.img {
    padding: 0px 15px;
    width: 49%;
    display: inline-block;
    vertical-align: top;
}

.text-section {
    padding: 20px 15px 0px;
    width: 49%;
    display: inline-block;
    vertical-align: top;
}

h2 {
    padding: 0px 0px 25px
}

.p1 {
    padding: 0px 0px 20px
}

.location .layer {
    padding: 90px 60px;
}

.Who-we-are .layer {
    padding: 90px 60px;
}

.Contact-Info .layer {
    padding: 90px 60px;
}

.footer1 {
    padding: 60px 0;
    background-color: #403D38;
    color: #96938A;

}

.row {
    width: 90%;
    margin: auto;
    /* background-color: aqua; */
}

.footer1 .row .widget {
    float: left;
    /* background-color: blueviolet; */
    width: 25%;
    padding: 0 15px;
}

.footer1 .row .widget .p1w1 {
    margin: 0 0 20px;
}

.footer1 .row .widget il {
    /* مفيش للجزء دا تاثير زي قبل كده */
    flex: none;
    padding: 0 0 7px;
}

hr {
    color: #96938A;
}

.footer1 .row .widget h4 {
    margin: 0 0 25px;
}

.footer1 .icon {
    vertical-align: middle;
    width: 20px;
    height: 20px;
    margin-right: 4px;
}

.space {
    margin-top: 10px;
}

.footer2 {
    padding: 60px 0;
    text-align: center;
    background-color: #353330;
}

.footer2 .icon {
    vertical-align: middle;
    width: 350px;
    height: 100px;
    margin: 15px 0 25px;
}

.social-icons img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #403D38;

}

.social-icons {
    margin: 15px 0 0;
    padding: 8px 0 0;
}